<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">   
       <context:component-scan base-package="com.cxf.*"/>
		<aop:aspectj-autoproxy proxy-target-class="true"/>                
		<bean id="jdbcDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		    <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"></property>
		    <property name="url" value="jdbc:mysql://localhost:3306/shoppingmall?serverTimezone=GMT%2B8&amp;useSSL=false"></property>
			<property name="username" value="root"></property>
			<property name="password" value="980802"></property>
		</bean>
		
		<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		    <property name="dataSource" ref="jdbcDataSource"></property>
		    <property name="configLocation" value="classpath:com/cxf/dao/mybatis-config.xml"></property>
		</bean>
		<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">  
			<property name="basePackage" value="com.cxf.dao" />  
			<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>  
    	</bean>
		
       	<bean id="product" class="com.cxf.pojo.Product"> 
       		<property name="id" value="1"></property>
       	    <property name="productName" value="Mac"></property>
       	    <property name="price" value="100.6"></property>   
       	</bean> 
     	
		<bean id="productDaoImpl" class="org.mybatis.spring.mapper.MapperFactoryBean">
		    <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
		    <property name="mapperInterface" value="com.cxf.dao.ProductDao"></property>
		</bean>
		<bean id="productServiceImpl" class="com.cxf.service.impl.ProductServiceImpl">
       	    <property name="productDao">
       	        <ref bean="productDaoImpl"/>
       	    </property>
       	</bean>
       	<bean id="order" class="com.cxf.pojo.Order">
       	    
       	</bean>
       	<bean id="userDaoImpl" class="org.mybatis.spring.mapper.MapperFactoryBean">
		    <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
		    <property name="mapperInterface" value="com.cxf.dao.UserDao"></property>
		</bean>
		<bean id="userServiceImpl" class="com.cxf.service.impl.UserServiceImpl">
       	    <property name="userDao">
       	        <ref bean="userDaoImpl"/>
       	    </property>
       	</bean>
       	<bean id="orderDaoImpl" class="org.mybatis.spring.mapper.MapperFactoryBean">
		    <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
		    <property name="mapperInterface" value="com.cxf.dao.OrderDao"></property>
		</bean>
		<bean id="orderServiceImpl" class="com.cxf.service.impl.OrderServiceImpl">
       	    <property name="orderDao">
       	        <ref bean="orderDaoImpl"/>
       	    </property>
       	</bean>
</beans>




