<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans.xsd">                   
		<bean id="jdbcDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		    <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"></property>
		    <property name="url" value="jdbc:mysql://localhost:3306/shoppingmall?serverTimezone=GMT%2B8&amp;useSSL=false"></property>
			<property name="username" value="root"></property>
			<property name="password" value="980802"></property>
		</bean>
		<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		    <property name="dataSource" ref="jdbcDataSource"></property>
		    <property name="configLocation" value="classpath:com/cxf/dao/mybatis-config.xml"></property>
		</bean>
		<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">  
			<property name="basePackage" value="com.cxf.dao" />  
			<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>  
    	</bean>
		
       	<bean id="product" class="com.cxf.pojo.Product">    
       	</bean> 
     
</beans>




