<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<mappers>
	   <mapper resource="com/cxf/dao/impl/ProductDao.xml"></mapper>
	   <mapper resource="com/cxf/dao/impl/OrderDao.xml"></mapper>
	   <mapper resource="com/cxf/dao/impl/ShopcartDao.xml"></mapper>
	   <mapper resource="com/cxf/dao/impl/UserDao.xml"></mapper>
	</mappers>
</configuration>